<div class="container" [class.is-mobile]="mobileQuery.matches">
  <mat-toolbar color="primary" class="toolbar">
    <button mat-icon-button (click)="snav.toggle()">
      <i-feather name="menu"></i-feather>
    </button>
    <h1 class="app-name">Responsive App</h1>
  </mat-toolbar>

  <mat-sidenav-container
    class="sidenav-container"
    [style.marginTop.px]="mobileQuery.matches ? 56 : 0"
  >
    <mat-sidenav
      #snav
      [opened]="true"
      [mode]="mobileQuery.matches ? 'over' : 'side'"
      [fixedInViewport]="mobileQuery.matches"
      fixedTopGap="56"
    >
      <mat-nav-list>
        <se-menu-list-item
          *ngFor="let item of navItems"
          [item]="item"
        ></se-menu-list-item>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <p style="padding: 1rem" *ngFor="let content of fillerContent">
        {{ content }}
      </p>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
